// Footer
footer.footer.bg-dark.pt-5.pt-md-6
  .container.pt-3.pt-md-0
    .row.pb-3
      .col-lg-3.col-md-6.col-sm-6.pb-1.mb-4
        .widget.widget-light
          h4.widget-title Компания
          ul
            li: a(href='#').widget-link About
            li: a(href='#').widget-link Careers
            li: a(href='#').widget-link Press
      .col-lg-3.col-md-6.col-sm-6.pb-1.mb-4
        .widget.widget-light
          h4.widget-title Услуги
          ul
            li: a(href='#').widget-link About
            li: a(href='#').widget-link Careers
            li: a(href='#').widget-link Press
      .col-lg-3.col-md-6.col-sm-6.pb-1.mb-4
        .widget.widget-light
          h4.widget-title Портфолио
          ul
            li: a(href='#').widget-link For artists
            li: a(href='#').widget-link Developers
            li: a(href='#').widget-link Brands
            li: a(href='#').widget-link Investors
      .col-lg-3.col-md-6.col-sm-6.mb-4
        .widget.widget-light
          h4.widget-title Решения и продукты
          ul
            li: a(href='#').widget-link Latest news
            li: a(href='#').widget-link Updates
            li: a(href='#').widget-link Campaigns
    hr.my-0.border-light
    .row.align-items-center.mt-3.py-4
      .col-md-6.order-md-2.text-md-end.mb-3
        ul.list-inline.fs-sm.mb-0
          li.list-inline-item: a(href='#').nav-link-style.nav-link-light OOO Deasoft
          li.list-inline-item: a(href='#').nav-link-style.nav-link-light ИНН: 21270002204
          li.list-inline-item: a(href='#').nav-link-style.nav-link-light Санкт-Петербург: ул.Прибрежная 11, офис 1
      .col-md-6.order-md-1.mb-3
        p.fs-sm.mb-0
          span.h2.text-light.me-1 8 954 54 32 11
          span.d-block.text-light.opacity-50.me-1 name@yandex.ru
          //a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link-style.nav-link-light Createx Studio
    hr.my-0.border-light
    .row.align-items-center.mt-3.py-4
      .col-md-6.order-md-2.text-md-end.mb-3
        a(href='#').btn-social.bs-outline.bs-facebook.bs-light.bs-lg.me-2.mb-2
          i.ai-facebook
        a(href='#').btn-social.bs-outline.bs-twitter.bs-light.bs-lg.me-2.mb-2
          i.ai-twitter
        a(href='#').btn-social.bs-outline.bs-instagram.bs-light.bs-lg.me-2.mb-2
          i.ai-instagram
        a(href='#').btn-social.bs-outline.bs-google.bs-light.bs-lg.me-2.mb-2
          i.ai-google
      .col-md-6.order-md-1.mb-3
        p.fs-sm.mb-0
          span.text-light.opacity-50.me-1 © All rights reserved. Made by
          a(href='https://createx.studio/' target='_blank' rel='noopener').nav-link-style.nav-link-light Createx Studio
